@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

body {
    font-family: 'Dovemayo_gothic';
    font-size: 14px;
    font-weight: 500;
    background-color: #f7e2fc;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.title {
    display: flex;
    align-items: center
}

.content {
    max-width: 1200px;
    margin-top: 0 auto;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.89);
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    margin-left: 16.5%;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    color: #5D4037;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    color: #5D4037;
    margin-bottom: 20px;
    text-align: left;
}

.first {
    border: 2px solid #634d47;
    border-radius: 6px;
    margin-left: 1px;
    font-size: 16px;
}

.postA {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.postA > div {
    flex-grow: 1;
}

.post{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
}

.post > div {
    flex-grow: 1;
}

label {
    font-weight: 700;
    color: #5D4037;
}

.write {
    display: flex;
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: black;
}

.write div {
    white-space: pre-line;
}

.imgContainer{
    display: flex;
    border: 1px border #5D4037;
    border-radius: 5px;
    justify-content: center;
    margin-top: 20px;
}

.imgContainer img {
    margin: 0 10px;
}